
@{
    ViewBag.Title = "Api";
}

<h2>API</h2>
<div>
    This quiz client is relying on an ASP.NET Web API for it's services and game logic.<br/>
    Please visit our API <a href="https://microsoft-apiapp831da86c936d4c65a4e1573348daaaaa.azurewebsites.net/Help">website</a> for full API documentation.
     
</div>

