@{
    ViewBag.Title = "Home Page";
}

<div id="poster" class="col-md-6">

</div>
<div id="ratings">
   <ul class="movieHeader">
        <li id="title"/>
        <li>
            <img src="~/img/imdb-2-icon.png" class="ratingLogo"/>
        </li>
        <li id="imdbRating"/>
        <li><img src="~/img/RT_logo.png" class="ratingLogo"/></li>
        <li id="tomatoRating"/>
    </ul>
</div>

<div class="col-md-6">
    <table>

        <tr>
            <td><b>Score:</b></td>
            <td id="score"></td>
        </tr>
    </table>

    <dl>
        <dd>
            <input type="text" id="answer" placeholder="Enter year YYYY" />
            <input class="btn btn-default" type="submit" id="submitAnswer" value="OK" />
        </dd>

        <dt>
            <b>Clue 1: Get more information (-2 points):</b>
        </dt>

        <dd>
            <input class="btn btn-default" type="button" value="Show more info" id="moreInfo" />
        </dd>

        <dt>
            <b>Clue 2: Get three options (-2 points):</b>
        </dt>

        <dd>
            <input class="btn btn-default" type="button" value="Show Options" id="yearOptions" />
        </dd>
    </dl>

    <table id="result" width="400"></table>

    <table width="400">
        <tr id="year"></tr>
    </table>


    <input class="btn btn-default" type="button" value="Next Movie" id="nextMovie" />


</div>









