@{
    ViewBag.Title = "Home Page";
}

<div id="poster" class="col-md-6">

</div>
<div id="ratings">
   <ul class="movieHeader">
        <li id="title"/>
        <li>
            <img src="~/img/imdb-2-icon.png" class="ratingLogo"/>
        </li>
        <li id="imdbRating"/>
        <li><img src="~/img/RT_logo.png" class="ratingLogo"/></li>
        <li id="tomatoRating"/>
    </ul>
</div>

<div class="col-md-6">
    <table>

        <tr>
            <td><b>Score:</b></td>
            <td id="score"></td>
        </tr>
    </table>

    <dl id="clues">
        <dd>
            <input type="text" id="answer" placeholder="Enter year YYYY" />
            <input class="btn btn-default" type="button" id="submitAnswer" value="OK" />
        </dd>
        <dd>
            <input class="btn btn-default" type="button" value="Show Clue info" id="moreInfo" />
        </dd>
        <dd>
            <input class="btn btn-default" type="button" value="3 Options" id="yearOptions" />
        </dd>
    </dl>
    <div id="rightOrWrongGuess"></div>
    <div id="endGameMessage"></div>
    
    <table id="result" width="400"></table>

    <table width="400">
        <tr id="year"></tr>
    </table>

    <input class="btn btn-default" type="button" value="Next Movie" id="nextMovie"/>
    <input type="text" id="initials" placeholder="Enter initials XXX" />
    <input class="btn btn-default" type="button" value="Submit Score" id="submitScore"/>


</div>









