
@{
    ViewBag.Title = "Quiz";
}

<div id="poster" class="col-md-6">

</div>

<div class="col-md-6">
    <table>
        <tr>
            <td>
                <b>Title</b>
            </td>
            <td id="title"></td>
        </tr>
        <tr>
            <td>
                <b>Imdb Rating</b>
            </td>
            <td id="imdbRating"></td>
        </tr>
        <tr>
            <td>
                <b>Rotten Tomatoes Rating</b>
            </td>
            <td id="tomatoRating"></td>
        </tr>
    </table>

    <dl>
        <dt>
            <b>Ready to make a guess?:</b>
        </dt>

        <dd>
            <input type="text" name="guess" />
            <input class="btn btn-default" type="submit" name="command" value="Guess the year" />
        </dd>

        <dt>
            <b>Clue 1: Get more information (-2 points):</b>
        </dt>

        <dd>
            <input class="btn btn-default" type="button" value="Show more info" id="moreInfo" />
        </dd>

        <dt>
            <b>Clue 2: Get three options (-2 points):</b>
        </dt>

        <dd>
            <input class="btn btn-default" type="button" value="Show Options" id="yearOptions" />
        </dd>
    </dl>

    <table id="result" width="400"></table>

    <table width="400">
        <tr id="year"></tr>
    </table>


    <input class="btn btn-default" type="button" value="Next Movie" id="nextMovie" />


</div>

