@using QuizClient.Controllers
@model QuizBLL.RandomMovie

@{
    ViewBag.Title = "Index";
}

<h2>Movie Quiz</h2>

<div class="col-md-6">
    <img src="@Url.Content(Model.PosterUrl)" alt="image" />
</div>

<div class="col-md-6" align="left">
    <dl class="dl-horizontal">
        <dt>
            <b>Title:</b>
        </dt>

        <dd id="title">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <b>Imdb Rating:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImdbRating)
        </dd>

        <dt>
            <b>Rotten Tomatoes Rating:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomatoRating)
        </dd>

        <dt>
            <b>Ready to make a guess?:</b>
        </dt>

        <dd>
            <input type="text" name="guess" />
            <input class="btn btn-default" type="submit" name="command" value="Guess the year" />
        </dd>

        <dt>
            <b>Clue 1: Get more information (-2 points):</b>
        </dt>

        <dd>
            <input class="btn btn-default"type="button" value="Show more info" id="moreInfo" />
        </dd>
        
        <dt>
            <b>Clue 2: Get three options (-2 points):</b>
        </dt>

        <dd>
            <input class="btn btn-default" type="button" value="Show Options" id="options" />
        </dd>
    </dl>
    
    <table id="result" width="400"></table>
    
    <table width="400"><tr id="year">
               
           </tr></table>
 

</div>




 



